/* ----------FORM---------- */

#binhluan {
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 10px;
    background-color: whitesmoke;
    justify-content: center;
}

#binhluan h6 {
    font-size: 18px;
}

#binhluan form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#binhluan textarea {
    background-color: whitesmoke;
}

#binhluan .btn-success {
    border: 3px solid #38ada9;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 10px 50px;
    margin-top: 20px;
    transition: all 0.5s;
}

#binhluan .btn-success:hover,
#binhluan .btn-success:active {
    border: 3px solid #38ada9;
    background-color: #38ada9;
    color: white;
    border-radius: 15px;
    padding: 10px 50px;
    margin-top: 20px;
}

/* ----------LIST---------- */
#binhluan-list {
    margin-top: 5px;
}

#binhluan-list h4 {
    text-align: center;
    margin-bottom: 30px;
}

.cmt-name {
    margin-bottom: 20px;
}

.cmt-date {
    font-style: italic;
    color: gray;
}

.cmt-content {
    border-bottom: 1px solid gray;
    padding-left: 50px;
    padding-bottom: 15px;
}

/* ----------RATING STAR---------- */
.star-rating {
    display: inline-block;
    margin-top: 20px;
}

.star-rating i {
    margin: 0px 5px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #bbb;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.star-rating label {
    float: left;
}