.head {
    background-color: #d4e9eb6b;
    border-radius: 1.2rem;
    position: relative;
}

.all {
    width: 1.3em;
    height: 1.3em;
    padding-bottom: 1em;
}
.bookPrice{
    position: absolute;
    bottom: 15px;
    right: 0px;
    font-weight: 500;
}
.cart {
    background-color: #d4e9eb6b;
    border-radius: 1.2rem;
}

.cart-image {
    width: 100px;
    /* Set the desired width */
    height: 100px;
    /* Set the desired height */
    object-fit: cover;
    /* Hide the overflowing parts of the image */
}

.cart>.buy-price {
    display: flex !important;
    right: 2.5rem;
    top: 45px;
}

.cart-price {
    color: black;
    font-weight: 500;
    float: left;
    margin-right: 1rem;
    display: flex;
    right: 0px;
    position: absolute;
    bottom: 5px;
}

.nohover {
    padding: 1px 2px !important;
    height: fit-content;
    width: fit-content;
    margin: 0px 20px;
    position: absolute;
    right: 0px;
    color: #fff !important;
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;
}

.nohover:hover {
    color: #fff !important;
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;
}
.totalPrice{
    font-size: 1.5rem;
}
