/* Info card */
#lienhe .card {
    padding: 20px;
}

#lienhe i {
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0 auto;
    font-size: 50px;
    color: #079992;
    border-bottom: 3px solid white;
    transition: all 0.3s linear;
}

#lienhe i:hover,
#lienhe i:active {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #079992;
}

/* Form */
#lienhe form {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
}

.form-control {
    border-radius: 0px;
    border: none;
    background-color: whitesmoke;
    padding: 15px;
    margin-top: 20px;
}

#lienhe .btn {
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin: 30px 0;
    padding: 14px 60px;
    overflow: hidden;
    border: 2px solid #079992;
    transition: 1s all ease;
    transition: 0.5s color ease;
}

#lienhe .btn:hover {
    color: white !important;
    border: 2px solid white;
}

#lienhe .btn::before {
    background: #079992;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    color: white !important;
}

.btn-send-message::before {
    width: 0%;
    height: 100%;
}

.btn-send-message:hover::before {
    width: 100%;
}