/* Info card */
#lienhe .card {
    padding: 20px;
}

#lienhe i {
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0 auto;
    font-size: 50px;
    color: #38ada9;
    border-bottom: 3px solid white;
    transition: all 0.3s linear;
}

#lienhe i:hover,
#lienhe i:active {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #38ada9;
}

/* Form */
#lienhe form {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
}

.form-control {
    border-radius: 0px;
    border: none;
    background-color: whitesmoke;
    padding: 15px;
    margin-top: 20px;
}

.btn-send-message {
    padding: 10px;
    display: inline-block;
    background-color: white;
    font-size: 18px;
    transition: all 0.5s linear;
    position: relative;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    margin: 20px 0px;
}

a.btn-send-message:hover, a.btn-send-message:active{
    text-decoration: none;
    color: black;
}

.btn-send-message:hover {
    border-radius: 0;
    scale: 1;
}

.btn-send-message::after{
    content: '';
    background: #079992;
    width: 0;
    height: 100%;
    position: absolute;
    inset: 0;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: -1;    
}

.btn-send-message:hover::after {
    width: 100%;
}