/* COLOR 
    #0a3d62
    #079992
*/


/* --------------------BODY-------------------- */

/* --------------------HEADER-------------------- */
#header {
    height: 500px;
    /* background-image: url("../images/banner.jpg"); */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.d-block {
    height: 500px;
}

/* --------------------MENU-------------------- */

.navbar {
    background-color: #0a3d62 !important;
    color: white !important;
    font-size: 14px;
}

#menu .nav-link {
    color: white !important;
    font-size: 22px;
}

.icon {
    margin: 0 auto;
}

/* --------------------MAIN-------------------- */
#main {
    margin-top: 20px;
}

/* ----------Our services---------- */
#our-services {
    padding: 30px 0;
}

#our-services h3 {
    text-align: center;
    padding-bottom: 20px;
}

.card {
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

#our-services .card:hover,
#our-services .card:active {
    transform: scale(1.05);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.card-body {
    text-align: center !important;
}

.card-body i {
    font-size: 30px;
    padding-bottom: 10px;
    color: #079992;
}

.card-body p {
    color: gray;
}

.card-body h5:hover {
    color: #079992;
}

/* ----------Our team---------- */
#our-team {
    margin-top: 20px;
    padding: 30px 0px;
    text-align: center;
    width: 100%;
}

#our-team .card {
    margin-top: 75px;
    background-color: whitesmoke;
}

.card-img-top {
    border-radius: 50% !important;
    width: 50%;
    margin: 0 auto;
    margin-top: -55px;
    transition: all 0.15s;
}

#our-team .card:hover .card-img-top,
#our-team .card:active .card-img-top {
    outline: 4px solid #079992;
    margin-top: -65px;
    margin-bottom: 10px;
}

/* --------------------FOOTER-------------------- */
#footer {
    padding-top: 20px;
    background-color: #0a3d62;
}

#footer h6 {
    color: white;
    padding-left: 30px;
    margin-bottom: 20px;
}

#footer li {
    list-style: none;
    margin-bottom: 10px;
}

#footer a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

#footer i {
    color: #079992;
}

.social-icon {
    display: inline;
    padding-right: 20px;
}

.social-icon i {
    font-size: 250%;
}

footer {
    text-align: center;
    background-color: #0c2461;
    color: white;
    padding: 20px;
}