.item {
    border: 0.5px solid rgb(197, 197, 197);
    padding: 1rem;
    position: relative;
}

.amount {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 10px;
}
.bookPrice{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

.pay,
.pay:hover {
    background-color: #42b1a873;
}

.payment {
    position: relative;
    display: flex;
    align-items: center;
}

.payMethod {
    font-size: 20px;
}

.payImage {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
}