.logout.btn {
  width: 100%;
  font-weight: 500;
  background-color: inherit;
  color: white;
  border-radius: 0;
  padding: 0.5em 0;
}

.logout.btn:hover {
  transition: 0.5s;
  background-color: white;
  color: black;
  border-color: black;
}

button#home {
  border: 0px solid;
}

button#home:hover {
  background-color: white!important;
}

button a#admin {
  color: white;
}

button a#admin:hover {
  color: #000000;

}